.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
  position: relative;
}

.cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  color: black;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c1c1c1;
  padding: 2px;
}

.cart-item:last-child {
  border-bottom: none;
}
