.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  gap: 20px;
  color: #333333;
}

.newProduct-btn {
  border-radius: 5px;
  font-size: 1.5em;
  color: #333333;
  transition: background-color 0.3s ease;
  background-color: #27ae5f81;
}

.newProduct-btn:hover {
  background-color: #27ae5f;
  cursor: pointer;
  color: black;
}
