.not-found-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.not-found-image {
  scale: 0.8;
  margin-top: -140px;
}

.oops-text {
  font-size: 1.1em;
  margin-top: -150px;
  margin-bottom: 30px;
}

.link a {
  text-decoration: none;
}

.back-home {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.back-home:hover {
  color: #254871;
}
