.details-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  gap: 20px;
  font-family: var(--main-font);
}

.product-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-details img {
  width: 35%;
  height: auto;
  object-fit: cover;
  padding: 30px;
}

.details-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.details-text h1 {
  font-size: 28px;
  color: #333;
}

.details-text p {
  font-size: 18px;
  color: #555;
}

.details-text img {
  scale: 0.1;
}

.description-box {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.description-box p {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    text-align: center;
  }

  .product-details img {
    width: 100%;
    max-width: 300px;
  }
}

.purchase-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.purchase-container p {
  font-size: 0.8em;
}

.purchase-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchase-box img {
  scale: 0.1;
  width: 40%;
  padding: 0;
  margin: -15%;
  height: auto;
}

.purchase-box h3 {
  font-size: 18px;
  color: #333;
}

.add-product-btn {
  background-color: #007bff;
  color: white;
  border: none;
  margin-bottom: 20px;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3em;
}

.add-product-btn:hover {
  background-color: #0056b3;
}

.credit-cards {
  display: flex;
  width: 50%;
}

.credit-cards img {
  scale: 0.2;
  height: auto;
  margin: -50px;
}
